.map {
  margin-top: 30px;
}

.map-plot {
  margin-top: 10px;
  margin-left: -100px;
  margin-right: -100px;
}

.zoom-button {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
}

.relative-button {
  width: 120px;
  margin-left: 5px;
  margin-right: 5px;
}
