.linear-gauge-vertical {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

.linear-gauge-vertical input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}
